

body {
    width: 100wh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    .message{
        text-align: center;
        margin-top: 2%;
    }
}

.backgroundimg {
    position: absolute;
    filter:alpha(opacity=50);
    -moz-opacity:.50;opacity:.50;
    z-index: -1;
    width: 100wh;
    height: 100vh;
    img {
    width: 100%;
    }
}

.welcomeimg {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        margin-top: 2%;
        margin-bottom: -4%;
        border-radius: 50%;
        height: 150px;
        border: solid 5px $headerrgb;
    }
}

h1 {
    text-align: center;
    margin: 1% 0 2%;
}

form {
    margin: 0 32%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 3%;
        .iconimg {
            width: 32px;
            height: 32px;
            margin-right: 3%;
        }
    }
    input {
        margin: 1%;
    }
    input[type=text]{
        width: 100%;
    }
    input[type=checkbox]{
        margin-right: 10%;
        margin-bottom: 5%;
    }
    input[type=radio]{
        margin-right: 10%;
    }
    p{
        text-align: center;
        margin-top: 5%;
    }
    div{
        width: 100%;
        display: flex;
        label{
            width: 100%;
            display: flex;
            justify-content: center;
            vertical-align: middle;
        }
    }
    input[type=submit]{
        height: 36px;
        border-radius: 25px;
        cursor: pointer;
    }
}